.header {
    display: grid;
    grid-template-columns: auto auto auto;
    min-height: 6.25rem;
}

.logo {
    grid-column: 1;
    justify-self: start;
    align-self: center;
    line-height: 0;
    max-width: 15.625rem;
}

.logo:hover {
    opacity: 0.8;
}

.navbar {
    display: flex;
    list-style-type: none;
}

.navbar li {
    padding: 1.5rem 1rem;
}

.navbar a {
    text-decoration: none;
    color: #495e57;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.navbar li:hover,
.navbar li:focus {
    background-color: #f4ce14;
}
